* {
  text-align: center;
  scroll-behavior: smooth;
  
 
}
/* ________________planet image sizes________________________*/
img{
 width: 100%;
 
}


  /*
   #spacejam{
    width: 35em;
    

  }

  #earth{
    width: 8em;
  
  }
  
  #bball{
    width: 7em;
  

    
  }
  #bplanet{
    width: 8em;
    
  }
  #jjam{
    width: 10em;
  }
  
  #mars{
    width: 10em;
    
  }
  
  #metro{
    width: 9em;
  }
  
  #saturn{
    width: 10em;

  } */


.wrapper{
  position: relative;
  overflow: hidden;
  height:100vh;

}


/* ________________planet navitation grid_________________________ */
.planet-menu-grid{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-gap: 10px; */



  grid-template-columns: 1fr 20% 40% 20% 1fr;
  grid-template-rows: 1fr 20% 30% 20% 1fr;
  /* grid-column-gap: 0px;
  grid-row-gap: 0px; */

  grid-column-gap: 10px;
  grid-row-gap: 3px;

 
}


  
  .div1 {
    /* spacejam */
    grid-area: 3 / 3 / 4 / 4;
    
   

    width: 45em;
    border-radius: 100%;
    
    animation: pulse 4s infinite alternate;
   animation-delay: 1s;
  }
  
  .div2 {
    /* bball */
    grid-area: 2 / 2 / 3 / 3;
    
    
    
    width: 7em;
    border-radius: 100%;
    
    margin:10% -50% 5% 70%;
    animation: bounce 1s infinite alternate;
      -webkit-animation: bounce 1s infinite alternate;
  }
  
  .div3 {
    /* empty div */
    grid-area: 2 / 3 / 3 / 4;
    
    border-radius: 100%;
    
  }
  
  .div4 {
    /* jjam */
    grid-area: 2 / 4 / 3 / 5;
    
    width: 10em;
    border-radius: 100%;
    margin: 0% 40% 0% -50%;
  }
  
  .div5 {
    /* mars */
    grid-area: 3 / 4 / 4 / 5;
    
   
     width: 10em;
     border-radius: 100%;
    
    animation: bounce 3s infinite alternate;
    -webkit-animation: bounce 3s infinite alternate;
    }
  
  .div6 {
    /* earth */
    grid-area: 4 / 4 / 5 / 5;
    
    

    width: 8em;
    border-radius: 100%;
    margin: 0% 0% 5% -50%;
    
  }
  
  .div7 {
    /* blue planet */
    grid-area: 4 / 3 / 5 / 4;
    
   
    width: 8em;
    border-radius: 100%;
    margin:30% 10% 5% 20%;

  }
  
  .div8 {
    /* jam central */
    grid-area: 4 / 2 / 5 / 3;
    
    width: 9.5em;
    border-radius: 100%;
    margin:0% 0% 5% 30%;
    animation: rbounce 3s infinite alternate;
    -webkit-animation: rbounce 3s infinite alternate;
  }
  
  .div9 {
    /* saturn */
    grid-area: 3 / 2 / 4 / 3;
    
   
    width: 10em;
     border-radius: 100%;
    animation: pulse 3s infinite alternate;
    animation-delay: 2s;
}



/* __________________Space video______________________ */

#stars{
  position: absolute;
  width: 100%;
  height:100vh;
  object-fit:cover;
  transform:translate(-50%, -50);
  left:0;
  right:0;
  top:0; 
  bottom:0;
  z-index: -1;
}


/* animations */

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@keyframes rbounce {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
  }
}



.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }  
 


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {


    .planet-menu-grid{
      margin-top: 10rem;
    }



    #spacejam{
      width: 18em;
    
    }
  
    #earth{
      width: 4em;
    
    }
    
    #bball{
      width: 4em;  
    }

    #bplanet{
      width: 4em;
      
    }
    #jjam{
      width: 6.2em;
    }
    
    #mars{
      width: 3.5em;
      
    }
    
    #metro{
      width: 5em;
    }
    
    #saturn{
      width: 4em;
  
    }

}


  @media only screen and (device-width: 768px) 
  /* and (max-device-width: 1024px)  */
  /* and (-webkit-min-device-pixel-ratio: 1) */
  {
    /* For general iPad layouts */
  


    .planet-menu-grid{
      margin-top: 15rem;
    }



    #spacejam{
      width: 30em;
    
    }
  
    #earth{
      width:5em;
    
    }
    
    #bball{
      width: 5.5em;  
    }

    #bplanet{
      width: 5em;
      
    }
    #jjam{
      width: 7em;
    }
    
    #mars{
      width: 4.5em;
      
    }
    
    #metro{
      width: 7em;
    }
    
    #saturn{
      width: 5em;
  
    }



  }

